__pycache__/
*.pyc
*.pyo
*.zip

xr2rml/mongo_db/*
xr2rml/log/*
xr2rml/xr2rml_output/*
output/*.ttl

Competency_questions/*
tools/observation/wcvpJson/wcvpJson_filtré.json
input/powo/raw/*
input/powo/currated/*